.modal#bootstrap-error-modal
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        h5 Error
      .modal-body
        p Sorry, something went wrong. Please try again later.
      .modal-footer
        button.btn.btn-secondary(data-dismiss="modal") close
        button.btn.btn-primary#add-tag-submit-btn add
