.modal#bootstrap-error-modal
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        h5 Error
      .modal-body
        p(style="color: #000") Sorry, something went wrong. Please try again later.
      .modal-footer
        button.btn.btn-secondary(data-dismiss="modal") close
