extends ../ProtoBase 

append content
  include ../inc/TerritoryBreadcrumb

  .container
    ul
      each block in blocks
        li
          a(href=block.overview_url) #{block.hundred} #{block.street} (#{block.odd_even})

        
