doctype html
html
  head
    title= page_title
    // STYLESHEETS
    block stylesheets
      link(href=config.base_url + "/assets/css/dist/paulandbarnabas.css", rel="stylesheet", type="text/css")
  body
    .wrapper
      .content
        block content
    
    // SCRIPTS 
    block scripts
      //- form2js.js
      script(src=config.base_url + "/assets/js/vendor/form2js.js", type="text/javascript")
      //- Browserfied Js bundle
      script(src=config.base_url + "/assets/js/dist/app.bundle.js", type="text/javascript")
      
        
