doctype html
html
  head
    title= page_title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    // STYLESHEETS
    block stylesheets
      link(href=constants.base_url + "/assets/css/dist/paulandbarnabas.css", rel="stylesheet", type="text/css")
  body
    .wrapper
      block content
    
    // SCRIPTS 
    block scripts
      //- form2js.js
      script(src=constants.base_url + "/assets/js/vendor/form2js.js", type="text/javascript")
      //- Browserfied Js bundle
      script(src=constants.base_url + "/assets/js/dist/app.bundle.js", type="text/javascript")
      
        
