doctype html
html
  head
    title= page_title
    // STYLESHEETS
    block stylesheets
  body
    .wrapper
      block content
    
    // SCRIPTS 
    block scripts
      //- form2js.js
      script(src=config.base_url + "/assets/js/vendor/form2js.js", type="text/javascript")
      //- Browserfied Js bundle
      script(src=config.base_url + "/assets/js/dist/another.bundle.js", type="text/javascript")
      
        
