extends Base.pug

block GLOBAL_PUG
  - var page_name = 'landing';

append scripts
  script(src=constants.base_url + "/js/dist/landing.bundle.js")
  
block content
  .content
    .inner
      .logo-and-title
        img(src=constants.base_url + "/assets/images/logos/logo_132x110.png", title="Paul and Barnabas, Territory organization platform for Jehovah's Witnesses")
        h1= constants.site_name
      
      form(action="/", method="POST")#login-form
        .fields
          +text_input('email')(name="email")
          +text_input('password')(name="password", type="password")
        .general-error-message-container
        .button-row.stretch
          button Forgot Password 
          button.cyan.prominent Login
        .button-row.stretch
          button.purple.prominent(type=button) Create an Account
