extends Base.pug

block content
  p Landing Page
  
  form(action="/", method="POST")#login-form
    input(type="text", name="email")
    br
    input(type="password", name="password")
    br
    input(type="hidden", name="login")
    input(type="submit", name="submit")
