extends Base.pug

block content
  .logo-and-title
    img(src=config.base_url + "/assets/images/logos/logo.png", title="Paul and Barnabas, Territory organization platform for Jehovah's Witnesses")
    
  
  form(action="/", method="POST")#login-form
    input(type="text", name="email")
    br
    input(type="password", name="password")
    br
    input(type="hidden", name="login")
    input(type="submit", name="submit")
