//- Text Input
mixin text_input(labelText)
  .text-input-container
    .input-element
      input(type=attributes.type ||  "text", name=attributes.name autocomplete="off", autocorrect="off", autocapitalize="off", spellcheck="false")
      .border
      label= labelText || attributes.name
    .input-error-messages
