extends AdminBase.pug

prepend GLOBAL_PUG
  - var page_name = "ap-createterritory"

append scripts
  script(src=constants.base_url + "/assets/js/dist/ap-createterritory.bundle.js", type="text/javascript")

block templates
  //- subunit text input template
  +text_input('subunit title')(class="dark subunit")
  
  .unit(data-number="")
    .info-row
      img.remove(src=constants.base_url + "/assets/images/delete.png", alt="Delete unit", title="Delete unit")
      span.number
      img.add(src=constants.base_url + "/assets/images/add.png", alt="Add subunit", title="Add subunit")
    .subunit-container

block panel
  form#create-territory-form
    
    //- Street select pane
    .pane
      +section_header('select street')
      select
        option streetone
        option streettwo
        option streetthree
      
      button(type="button") or create street
      
      div
        label street name
        input(name="new_street_name")
    
    //- Create block pane
    .pane
      +section_header('create block')
      div
        label block hundred
        input(type="number", name="block_hundred")
      div
        label odd
        input(type="radio", value="odd", name="odd_even")
      div
        label even
        input(type="radio", value="odd", name="odd_even")
      div
        label generate houses from 
        input(type="number", name="generate_from")
        span to
        input(type="number", name="generate_to")
    
    //- Units Pane
    .pane.units
      +section_header('units')
      
      p.details 4500 Oakland
      
      .units-container
        .units-column
        .units-column
    
    //- Fragment Assignment Pane
    .pane
      +section_header('assign to fragment')
      div
        label leave fragment unassigned
        input(type="checkbox", name="fragment_unassigned")
      table
        tr
          th Number
          th Holder
          th Block Count
          th House Count
          th (btn)
        tr
          td 1
          td Todd Roberson
          td 13
          td 153
          td
        tr
          input(type="radio", value="", name="fragment_assignment")
    button(type="submit", name="submit") create territory
