extends AdminBase.pug

prepend GLOBAL_PUG
  - var page_name = "ap-createterritory"

append scripts
  script(src=constants.base_url + "/assets/js/dist/ap-createterritory.bundle.js", type="text/javascript")

block templates
  //- subunit text input template
  +text_input('subunit title')(class="dark subunit", name="subunits[]")
  
  .unit(data-number="")
    .info-row
      img.remove(src=constants.base_url + "/assets/images/delete.png", alt="Delete unit", title="Delete unit")
      span.number
      img.add(src=constants.base_url + "/assets/images/add.png", alt="Add subunit", title="Add subunit")
    .subunit-container

block modals
  .modal.standard#test
    p Please provide the name of the publisher who is currently calling on this residence
    +text_input('name')
    .button-row.mini
      button.orange(data-action="positive") save
      button(data-action="close") cancel
  +modal('another')
      p this is test
      button.orange save

block panel
    
  form#create-territory-form
    
    //- Street select pane
    .pane#streetselect
      +section_header('select street')
      .select-street
        +select_input()(name="street", id="street_selector")
          option(selected, disabled) select street
            
        span#createstreetbtn #[strong or] create new street
      .newstreet
        +text_input('street name')(name="new_street_name", class="dark hide", id="new_street_name", disabled)
              
      .existing-blocks
        p.street-label
        table#existing-blocks-table
          tr
            th Hundred
            th Odd
            th Even
          tr#existing-row-template.hide
            td.hundred
            td.odd
            td.even
          tr#no-blocks-found.hide
            td No blocks found
      
    
    //- Create block pane
    .pane#createblock
      +section_header('create block')
      div
        +text_input('block hundred')(name="block_hundred", type="number", class="dark")
      div
        label odd
        input(type="radio", value="odd", name="odd_even")
      div
        label even
        input(type="radio", value="even", name="odd_even")
      div
        label generate houses from 
        //- input(type="number", name="generate_from", id="generate-from")
        +text_input('start')(type="number", name="generate_from", id="generate-from", class="dark")
        span to
        //- input(type="number", name="generate_to", id="generate-to")
        +text_input('end')(type="number", name="generate_to", id="generate-to", class="dark")
        button(type="button", id="generate-units") generate units
    
    //- Units Pane
    .pane#units
      +section_header('units')
      
      p.details
        span.hundred
        span.name
      
      .units-container
        .units-column.one
          p No Units
        .units-column.two
    
    //- Fragment Assignment Pane
    .pane#fragmentassignment
      +section_header('assign to fragment')
      +select_input()(name="fragment_assignment")
        option(value="", selected) Choose Fragment
          
      label leave fragment unassigned
      input(type="checkbox", name="fragment_unassigned")
      
    
    button(type="submit", name="submit") create territory
