extends AdminBase.pug

prepend GLOBAL_PUG
  - var page_name = "ap-createterritory"

append scripts
  script(src=constants.base_url + "/assets/js/dist/ap-createterritory.bundle.js", type="text/javascript")

block templates
  //- subunit text input template
  +text_input('subunit title')(class="dark subunit", name="subunits[]")
  
  .unit(data-number="")
    .info-row
      img.remove(src=constants.base_url + "/assets/images/delete.png", alt="Delete unit", title="Delete unit")
      span.number
      img.add(src=constants.base_url + "/assets/images/add.png", alt="Add subunit", title="Add subunit")
    .subunit-container

block panel
  form#create-territory-form
    
    //- Street select pane
    .pane#streetselect
      +section_header('select street')
      .select-street
        +select_input()(name="street", id="street_selector")
          option Oakland
          option(value="45678", selected) Akron
          option Saul
          option Sellers
          option Wakeling
            
        span#createstreetbtn #[strong or] create new street
      .newstreet
        +text_input('street name')(name="new_street_name", class="dark hide", id="new_street_name", disabled)
    
      .existing-blocks
        p.street-label Oakland
        table
          tr
            th Hundred
            th Odd
            th Even  
              
          tr
            td 4500
            td.filled
            td
          tr
            td 4500
            td yes
            td no
          tr
            td 4500
            td yes
            td.filled
    
    //- Create block pane
    .pane#createblock
      +section_header('create block')
      div
        +text_input('block hundred')(name="block_hundred", type="number", class="dark")
      div
        label odd
        input(type="radio", value="odd", name="odd_even")
      div
        label even
        input(type="radio", value="even", name="odd_even")
      div
        label generate houses from 
        //- input(type="number", name="generate_from", id="generate-from")
        +text_input('start')(type="number", name="generate_from", id="generate-from", class="dark")
        span to
        //- input(type="number", name="generate_to", id="generate-to")
        +text_input('end')(type="number", name="generate_to", id="generate-to", class="dark")
        button(type="button", id="generate-units") generate units
    
    //- Units Pane
    .pane#units
      +section_header('units')
      
      p.details 4500 Oakland
      
      .units-container
        .units-column.one
        .units-column.two
    
    //- Fragment Assignment Pane
    .pane#fragmentassignment
      +section_header('assign to fragment')
      +select_input()(name="fragment_assignment")
        option(value="", selected) Choose Fragment Holder
        option(value="897") Todd Roberson
        option(value="987") Emmett Nixon Jr.
          
      label leave fragment unassigned
      input(type="checkbox", name="fragment_unassigned")
      
    
    button(type="submit", name="submit") create territory
