html
  font-size: 21px !important

/**
 * Override grey background from modal
 *
.modal
  background: none !important
  box-shadow: none !important

/**
 * Unit Overview page
 *

// unit tags
ul.unit-tags
  font-size: 0.8em

  li
    padding: 10px !important

/**
 * Fragment Overview Page
 */
@media screen and (max-width: 576px)
  .card.fragment
    margin: 10px 0

/**
 * Dashboard
 *
.stat-card
  max-width: 500px


/**
 * Helpers
 *
.mw720
  max-width: 720px !important
